Repository anton-rs/op-up, pull requests merged in 2023-10, with the labels that each got.

#2 feat: Alpha Sprint
  .github/workflows/ci.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  README.md
  bin/opup/Cargo.toml
  bin/opup/README.md
  bin/opup/src/addresses.rs
  bin/opup/src/banners.rs
  bin/opup/src/cli/mod.rs
  bin/opup/src/constants.rs
  bin/opup/src/etc/clock.rs
  bin/opup/src/etc/commands.rs
  bin/opup/src/etc/git.rs
  bin/opup/src/etc/json.rs
  bin/opup/src/etc/mod.rs
  bin/opup/src/etc/net.rs
  bin/opup/src/etc/runner.rs
  bin/opup/src/etc/telemetry.rs
  bin/opup/src/genesis.rs
  bin/opup/src/lib.rs
  bin/opup/src/main.rs
  bin/opup/src/stack/mod.rs
  cli/Cargo.lock
  cli/Cargo.toml
  cli/src/stack/challenger_agent.rs
  cli/src/stack/l1_client.rs
  cli/src/stack/l2_client.rs
  cli/src/stack/rollup_client.rs
  cli/src/utils.rs
  crates/config/Cargo.toml
  crates/config/README.md
  crates/config/src/lib.rs
  crates/config/src/root.rs
  crates/stack/Cargo.toml
  crates/stack/README.md
  crates/stack/src/components/challenger.rs
  crates/stack/src/components/layer_one.rs
  crates/stack/src/components/layer_two.rs
  crates/stack/src/components/mod.rs
  crates/stack/src/components/rollup.rs
  crates/stack/src/lib.rs
  docs/SUMMARY.md
  docs/components/components.md
  docs/developers/contributing.md
  docs/developers/troubleshooting.md
  etc/op-up-banner.png
Labels: C-critical

#5 fix: branding
  LICENSE
  README.md
  docs/components/components.md
Labels: C-chore

#8 chore: minor fixes
  LICENSE.md
  Makefile
  README.md
Labels: C-chore

#6 feat: TOML Config
  .gitignore
  Cargo.lock
  Cargo.toml
  bin/opup/Cargo.toml
  bin/opup/src/stack/mod.rs
  crates/config/Cargo.toml
  crates/config/src/error.rs
  crates/config/src/lib.rs
  crates/config/src/optional.rs
  crates/config/src/rename.rs
  crates/config/src/toml.rs
  crates/config/src/unwraps.rs
  crates/config/src/wraps.rs
  crates/config/tests/config.rs
  crates/stack/Cargo.toml
  crates/stack/src/components/challenger.rs
  crates/stack/src/components/layer_one.rs
  crates/stack/src/components/layer_two.rs
  crates/stack/src/components/rollup.rs
  crates/stack/src/lib.rs
  stack.toml
Labels: C-feature, alpha

#11 feat: Artifacts Directory
  bin/opup/src/stack/mod.rs
  crates/config/src/lib.rs
  crates/config/tests/config.rs
Labels: C-feature, alpha

#10 chore: Remove optimism-rs
  bin/opup/src/stack/mod.rs
Labels: C-chore, alpha

#9 chore: Genesis Port
  Cargo.lock
  Cargo.toml
  bin/opup/Cargo.toml
  bin/opup/src/genesis.rs
  bin/opup/src/lib.rs
  bin/opup/src/stack/mod.rs
  crates/stack/Cargo.toml
  crates/stack/src/genesis.rs
  crates/stack/src/lib.rs
Labels: C-chore, alpha

#16 chore: Stage Fixes and Refactoring
  crates/config/src/lib.rs
  crates/config/src/rename.rs
  crates/config/src/stack.rs
  crates/config/src/stage.rs
  crates/config/tests/config.rs
  crates/primitives/src/components/challenger.rs
  crates/primitives/src/components/layer_one.rs
  crates/primitives/src/components/layer_two.rs
  crates/primitives/src/components/rollup.rs
Labels: C-chore, alpha, A-config

#37 feat(bin): cli subcommands
  bin/opup/src/cli.rs
Labels: A-bin, C-feature

#38 feat(bin): up command scaffolding
  LICENSE
  bin/opup/src/cli.rs
  bin/opup/src/lib.rs
  bin/opup/src/stack.rs
  bin/opup/src/up.rs
  crates/config/tests/config.rs
Labels: A-bin, C-feature

#43 chore(stages): Refactor all stages
  crates/config/src/stack.rs
  crates/config/tests/stack.rs
  crates/stages/src/git.rs
  crates/stages/src/lib.rs
  crates/stages/src/stages.rs
  crates/stages/src/stages/allocs.rs
  crates/stages/src/stages/artifacts.rs
  crates/stages/src/stages/batcher.rs
  crates/stages/src/stages/cannon.rs
  crates/stages/src/stages/challenger.rs
  crates/stages/src/stages/contracts.rs
  crates/stages/src/stages/deploy_config.rs
  crates/stages/src/stages/directories.rs
  crates/stages/src/stages/l1_exec.rs
  crates/stages/src/stages/l1_genesis.rs
  crates/stages/src/stages/l2_exec.rs
  crates/stages/src/stages/l2_genesis.rs
  crates/stages/src/stages/proposer.rs
  crates/stages/src/stages/rollup.rs
  crates/stages/src/stages/stateviz.rs
  docker/docker-compose.yml
Labels: C-chore, C-fix, A-stages

#40 feat: initial composer setup
  Cargo.lock
  README.md
  crates/composer/Cargo.toml
  crates/composer/README.md
  crates/composer/src/lib.rs
  crates/composer/tests/basic.rs
  crates/config/tests/stack.rs
Labels: C-feature, A-docker

#47 fix(stages): Refactor Cloning
  Cargo.lock
  crates/config/src/stack.rs
  crates/primitives/Cargo.toml
  crates/primitives/src/lib.rs
  crates/primitives/src/monorepo.rs
  crates/primitives/src/monorepo/mod.rs
  crates/stages/src/commands.rs
  crates/stages/src/lib.rs
  crates/stages/src/stages/directories.rs
Labels: C-fix, A-primitives, A-stages

#49 fix(stages): Monorepo Primitive Refactoring
  crates/primitives/src/monorepo.rs
  crates/stages/src/stages.rs
  crates/stages/src/stages/allocs.rs
  crates/stages/src/stages/batcher.rs
  crates/stages/src/stages/cannon.rs
  crates/stages/src/stages/challenger.rs
  crates/stages/src/stages/deploy_config.rs
  crates/stages/src/stages/directories.rs
  crates/stages/src/stages/l1_exec.rs
  crates/stages/src/stages/l1_genesis.rs
  crates/stages/src/stages/l2_exec.rs
  crates/stages/src/stages/l2_genesis.rs
  crates/stages/src/stages/proposer.rs
  crates/stages/src/stages/rollup.rs
  crates/stages/src/stages/stateviz.rs
Labels: C-fix, A-primitives, A-stages

#50 feat(artifacts): Introduce Artifacts Manager
  crates/primitives/src/artifacts.rs
  crates/primitives/src/lib.rs
  crates/stages/src/stages.rs
  crates/stages/src/stages/allocs.rs
  crates/stages/src/stages/artifacts.rs
  crates/stages/src/stages/batcher.rs
  crates/stages/src/stages/challenger.rs
  crates/stages/src/stages/deploy_config.rs
  crates/stages/src/stages/directories.rs
  crates/stages/src/stages/l1_exec.rs
  crates/stages/src/stages/l1_genesis.rs
  crates/stages/src/stages/l2_exec.rs
  crates/stages/src/stages/l2_genesis.rs
  crates/stages/src/stages/proposer.rs
  crates/stages/src/stages/rollup.rs
  crates/stages/src/stages/stateviz.rs
Labels: C-feature, A-primitives, A-stages

#51 fix(stages): Use Stack TOML Configurables
  crates/stages/src/net.rs
  crates/stages/src/stages.rs
  crates/stages/src/stages/allocs.rs
  crates/stages/src/stages/cannon.rs
  crates/stages/src/stages/l1_exec.rs
  crates/stages/src/stages/l2_exec.rs
  crates/stages/src/stages/l2_genesis.rs
  crates/stages/src/stages/rollup.rs
Labels: C-fix, A-primitives, A-stages

#52 perf: download monorepo instead of cloning from git
  crates/config/src/stack.rs
  crates/primitives/src/monorepo.rs
  crates/stages/src/stages.rs
  crates/stages/src/stages/directories.rs
Labels: C-chore, A-primitives

#60 feat(bin): Force Overwrite CLI Flag
  bin/opup/src/up.rs
  crates/config/src/stack.rs
  crates/primitives/src/monorepo.rs
Labels: A-bin, C-feature

#61 feat(bin): List Docker Containers
  Cargo.lock
  bin/opup/Cargo.toml
  bin/opup/src/cli.rs
  bin/opup/src/lib.rs
  bin/opup/src/list.rs
  bin/opup/src/up.rs
Labels: A-bin, C-feature, alpha

#54 feat(stages): First Inline Docker Container and Async Port
  Cargo.lock
  crates/composer/src/lib.rs
  crates/primitives/src/artifacts.rs
  crates/stages/Cargo.toml
  crates/stages/src/lib.rs
  crates/stages/src/stages.rs
  crates/stages/src/stages/allocs.rs
  crates/stages/src/stages/batcher.rs
  crates/stages/src/stages/challenger.rs
  crates/stages/src/stages/contracts.rs
  crates/stages/src/stages/deploy_config.rs
  crates/stages/src/stages/directories.rs
  crates/stages/src/stages/l1_exec.rs
  crates/stages/src/stages/l1_genesis.rs
  crates/stages/src/stages/l2_exec.rs
  crates/stages/src/stages/l2_genesis.rs
  crates/stages/src/stages/prestate.rs
  crates/stages/src/stages/proposer.rs
  crates/stages/src/stages/rollup.rs
  crates/stages/src/stages/stateviz.rs
Labels: C-feature, C-critical, alpha, A-stages

#63 chore(bin): Cleanup
  bin/opup/src/lib.rs
  bin/opup/src/runner.rs
  bin/opup/src/up.rs
Labels: A-bin, C-chore

#64 feat: cleanup install fn
  bin/opup/src/deps.rs
Labels: C-chore

#36 feat(bin): Dependency Manager
  Cargo.lock
  bin/opup/Cargo.toml
  bin/opup/src/cli.rs
  bin/opup/src/deps.rs
  bin/opup/src/lib.rs
  bin/opup/src/up.rs
Labels: A-bin, C-feature

#66 fix: allocs failure due to repo download
  crates/primitives/src/monorepo.rs
Labels: C-fix

#67 feat: first docker container running
  Cargo.lock
  bin/opup/src/deps.rs
  bin/opup/src/up.rs
  crates/composer/Cargo.toml
  crates/composer/src/lib.rs
  crates/composer/src/utils.rs
  crates/composer/tests/basic.rs
  crates/primitives/src/components/challenger.rs
  crates/primitives/src/components/layer_one.rs
  crates/primitives/src/components/layer_two.rs
  crates/primitives/src/components/rollup.rs
  crates/stages/Cargo.toml
  crates/stages/src/stages.rs
  crates/stages/src/stages/challenger.rs
  crates/stages/src/stages/l1_exec.rs
  crates/stages/src/stages/l1_genesis.rs
  crates/stages/src/stages/l2_exec.rs
  crates/stages/src/stages/rollup.rs
Labels: C-critical, A-composer

#77 feat: docker networks
  bin/opup/src/deps.rs
  crates/composer/src/lib.rs
  crates/composer/tests/basic.rs
  crates/stages/src/stages.rs
Labels: C-feature, A-composer
